main {
    width: 100%;
    height: 100%;
}

nav {
    border-bottom: rgba(128, 128, 128, 0.407) 1px solid;
}

#content {
    width: 100%;
    height: 100%;
    padding: 50px;
    font-size: 1em;
    border-radius: 50px 50px;
    box-shadow: 5px 3px 5px #00000070;
}

#title {
    text-align: center;
    font-size: 2.5em;
    padding: 20px;
}

#content>p.content__text-acess {
    font-size: 1em;
    text-align: justify;
}

#content>p.content__text-acess+p.content__text-acess,
#content>p.content__text-acess:first-child {
    margin-bottom: 10px;
}

#content>p.content__text-acess.destaque {
    font-weight: bold;
    font-size: 1.3em;
    margin: 15px 0px 15px 0px;
}

#content>p.content__text-acess.small-destaque {
    font-size: 1em;
    font-style: italic;
    margin: 15px 0px 15px 0px;
}

code {
    font-family: Consolas, "courier new";
    color: #00a1ff;
    background-color: #f1f1f1;
    padding: 2px;
    font-size: 105%;
}

@media screen and (max-width:850px) {
    #content {
        font-size: 14px;

    }

    #title {
        font-size: 2em;
    }
}