#subTitle {
    text-align: center;
}

main {
    width: 100%;
    max-height: max-content;
}

.section__ong {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-size: 16px;
}

#dvSlider {
    display: none;
}

ul {
    list-style: none;
}

.ong__imagens {
    width: 30%;
}

.ong__informations {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.ong__imagens #imagens__container .container__item img {
    width: 350px;
    display: block;
    margin: 0 auto;
}

.ong__imagens #imagens__container .container__item+.container__item {
    margin-top: 40px;
}

.informations__description {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#description__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.informations__description h1 {
    font-size: 1.5em;
}

.informations__description span {
    font-size: 1.05em;
    font-weight: bold;
}

.informations__description p {
    font-weight: 500;
    text-align: justify;
    font-size: 1.15em;
}

#description__social {
    display: block;
    width: 100%;
}

#description__social .social__item {
    display: inline;
}

#description__social .social__item a img {
    width: 35px;
}

.informations__botons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}



input[type='button'],
button {
    background-color: #00a1ff;
    border: #00a1ff solid 1px;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

input[type='button'] {
    width: 200px;
    padding: 10px;
}

.informations__donation {
    margin-bottom: 20px;
}

.informations__comments {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

#comments {
    width: 82%;
    resize: none;
    border: 1px solid black;
}

.buttons__container {
    width: 13%;
    margin-left: 50px;
}

button {
    width: 122px;
    display: block;
    margin: 0 auto;
}

.buttons__container button+button {
    margin-top: 20px;
}

button img {
    width: 15px;
}

button p {
    display: inline;
    vertical-align: 5px;
}

/* Responsividade */
@media screen and (max-width:1700px) {
    .buttons__container {
        margin-left: 10px;
    }
}

@media screen and (max-width:1500px) {
    #comments {
        width: 80%;
    }

    .buttons__container {
        margin-left: 5px;
    }
}

@media screen and (max-width:1300px) {
    .section__ong {
        justify-content: space-evenly;
    }
}

@media screen and (max-width:1030px) {
    .section__ong {
        flex-direction: column;
        margin-top: 70px;
        height: 100vh;
    }

    .ong__imagens {
        width: 100%;
    }

    .ong__imagens #imagens__container .container__item+.container__item {
        margin: 0;
        margin-left: 30px;
    }

    .ong__imagens #imagens__container .container__item img {
        width: 500px;
        height: 300px;
    }

    .ong__informations {
        width: 100%;
        padding: 50px;
        margin: 0%;
        margin-bottom: 50px;
    }

    .informations__comments {
        justify-content: space-around;
    }

    .container__subtle {
        margin: 50px 0px;
    }

    .container__subtle+.section__cards {
        margin: 20px auto;
    }

    /* Criar carrossel */
    #dvSlider {
        display: block;
    }

    #dvSlider {
        width: 90vw;
        height: 450px;
        border: 1px solid black;
        margin: 0 auto;
        background-size: cover;
        background-position: center;
        transition: .5s background ease;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-image: url('../imgs/fotosOng/fotos01.jpg');
    }

    .btSlider {
        background-color: #00a1ff;
        width: 50px;
        height: 70px;
        color: #fff;
        cursor: pointer;
        outline: none;
        margin: 10px;
        border: none;
    }


    #imagens__container {
        display: flex;
        padding: 20px;
        display: none;

        /*         
 */
    }
}

@media screen and (max-width:800px) {
    .section__ong {
        margin-top: 120px;
    }
}

@media screen and (max-width:650px) {
    .section__ong {
        height: 115vh;
        font-size: 13px;
        margin-top: 50px;
    }

    #dvSlider {
        display: none;
    }

    .informations__botons {
        align-items: center;
    }

    #imagens__container {
        display: flex;
        padding: 20px;
        position: relative;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    .ong__informations {
        margin: 0%;
        margin-bottom: 50px;
    }
    .informations__comments {
        flex-direction: column;
    }

    #comments,
    .buttons__container {
        width: 100%;
    }

    .buttons__container {
        margin: 0;
        margin-top: 10px;
        display: flex;
    }

    .buttons__container button+button {
        margin-top: 0px;
    }

    .buttons__container button {
        width: 40%;
        padding: 10px;
        font-size: 1.05em;
    }

    input[type='button'] {
        padding: 13px;
        font-size: 1.05em;
    }
    #subTitle {
        text-align: center;
        margin-top: 30px;
    }
    .informations__description h1 {
        margin-bottom: 10px;
    }

    .informations__description span {
        display: block;
        margin: 10px 0px;
    }

    .section__cards .card {
        margin: 0 5px 30px 0;
    }

    .container__subtle {
        margin: 13% 0px 10%;
    }
}

@media screen and (max-width:470px) {
    .ong__imagens #imagens__container .container__item img {
        width: 300px;
        height: 200px;
    }

    .ong__informations {
        padding: 50px 15px;
    }

    .section__ong {
        margin-top: 10%;
    }

    .informations__description h1 {
        font-size: 1.3em;
    }
}

@media screen and (max-width:400px) {
    .section__ong {
        margin-top: 30%;
    }

    .ong__informations {
        margin: 5%;
    }

    .informations__description {
        height: 100%;
    }

    .container__subtle {
        margin: 50% 0px 10%;
    }
}

@media screen and (max-width:300px) {
    .section__ong {
        margin-top: 40%;
        font-size: 10px;
    }
}

@media (max-width:1025px) and (max-height:850px) {
    .section__ong {
        height: 130vh;
    }
}