*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*HEADER*/

.container_form {
    width: 60vw;
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    background:#ffffff; 
    box-shadow: 0px 0px 1.2px 0px #aeaeae; 
    border-radius:3px; 
    padding:3em;

}

.container_form h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.3em;
    color: #00a1ff;
    border-bottom: 1px #f0eded solid;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.form_grupo {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
    position: relative;
}

.form_grupo .legenda, label:not(.check_label) { 
    width: 100%;
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
}

/* SUBMIT */

.submit { width:100%; float:left; }

.submit_btn {
    float: left;
    display: block;
    padding: 5px 30px;
    border: none;
    outline: none;
    background-color: #00a1ff;
    color: #fff;
    font-family: inherit;
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 6px;
    margin: 20px auto;
    cursor: pointer;
    transition: all 0.3s;
}

.submit_btn:hover {
    background-color: #444444;
    transform: scale(1.03);
}

.dropdown {
    display: block;
    margin: 0 auto;
    font-size: 16px;
    font-family: inherit;
    color: #222222;
    border-radius: 4px;
    border: 1px #f2f2f2 solid;
    background: #fdfdfd;
    outline: none;
    padding-left: 10px;
    width: 100%;
}

.form_new_input {
    display: none;
}

.radio_label,
.check_label {
    float: left;
    width: 100%;
    padding-left: 30px;
    cursor: pointer;
    margin-bottom: 8px;
}
.inputsenha{
    display: inline-flex;
    align-items: center;
}

.options__checkbox {
    display: inline-flex;
    align-items: baseline;
    margin-top: 10px;
}

.inputsenha input[type="password"]{
    width: 50%;
    height: 40px;
}
.inputsenha input{
    margin-right: 10px;
}
.confirm_btn{
    padding: 9px 30px;
    border: none;
    outline: none;
    background-color: #00a1ff;
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 6px;
    margin: 10px auto;
    cursor: pointer;
    transition: all 0.3s;
}
.confirm_btn:hover{
    background-color: #444444;
    transform: scale(1.03);
}
.radio_new_btn {
    position: absolute;
    left: 0;
    transform: translateY(3px);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 0.2em solid #4c4c4c;
}

.radio_new_btn::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #00a1ff;
    visibility: hidden;
}

.check_new_btn {
    position: absolute;
    left: 0;
    height: 20px;
    width: 20px;
    border: 0.2em solid #4c4c4c;
}

.check_new_btn::after {
    content: "";
    height: 8px;
    width: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #00a1ff;
    visibility: hidden;
}

.form_new_input:checked ~ .radio_label .radio_new_btn::after,
.form_new_input:checked ~ .check_label .check_new_btn::after {
    visibility: visible;
}

.form_new_input:checked ~ .radio_label,
.form_new_input:checked ~ .check_label {
    color: #6fcffb;
}

.form_grupo {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}

.form_label:not(.check_label):before  {
    content: "* ";
    color: #00a1ff;
}

.form_input {
    font-size: 16px;
    font-family: inherit;
    padding: 8px 15px;
    border-radius: 4px;
    border: 1px #f2f2f2 solid;
    background: #fdfdfd;
    outline: none;
    width: 100%;
    transition: all 0.3s;
}

.form_message,
.form_message .message_input {
    width: 100%;
    float:left;
}

.form_message_label {
    width: 100%;
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
}

/* Modificações do checkbox */
.btn__container > .checkbox-input + .checkbox-label{
    display: inline;
    float: none;
    font-weight: initial;
    vertical-align: 5px;
    margin-left: 4px;
    cursor: pointer;
}
.btn__container > .checkbox-input{
    all: unset;
    border: 0.2em solid #4c4c4c;
    width: 15px;
    height: 15px;
    display: inline-block;
    box-shadow:inset 0px 0px 0px 3.5px #fff;
}
.btn__container > .checkbox-input:checked {
    height: 15px;
    width: 15px;
    background-color: #00a1ff;
}
.btn__container > .checkbox-input:checked +.checkbox-label{
    color: #00a1ff;
}


/*media query*/
@media screen and (max-width:890px) { 
    .container_form {
        width: 100vw;
        margin: auto;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        background:#ffffff; 
        padding:3em;
    }
    .inputsenha{
        flex-wrap: wrap;
    }
    .inputsenha input[type="password"]{
        width: 100%;
    }
    .inputsenha button{
        width: 100%;
    }
 }
