/* Tag gerals */
#cadastro {
    width: 100%;
    height: calc(100vh - 113px); 
    /*Para que a tela não fique com a barra lateral eu estou tirando todos os pixel de elementos fixados (header + footer)*/
    font-size: 1em;
    display: flex;
}
#home-acess{
    z-index: 999;
}
aside {
    height: calc(100vh - 91px);
    display: flex;
    border-right: #00a1ff 1px solid;
}

aside img{
    width: 50vw;
    height: 100%;
}
#cadastro__section {
    width: 100%;
    height: calc(100% - 91px);
    display: flex;
    justify-content: center;
    /* justify-content: flex-end; */
    align-items: center;
    position: relative;
    margin-top: 0;
    background-color: #fff;
    /* padding-right: 2%; */
}
#cadastro__section div img {
    width: 400px;
}

/* Formulario */
.section__form {
    width: 100%;
    height: max-content;
    border: 1px solid black;
    box-shadow: 1px 2px 5px #00000070;
    padding: 30px;
    position: relative;
    margin: 0px 10%;
}

.section__title {
    width: 100%;
    text-align: center;
    font-size: 2em;
    margin: 10px 0px;
}

.form__group {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__group .group__text label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form__group .group__text label::before,
.about__radios p::before {
    content: "* ";
    color: #00a1ff;
}

.group__text {
    width: 40%;
}

.group__about {
    width: 40%;
}

.form__group .group__text label+input,
.form__group .group__text #group__select>select {
    width: 100%;
    outline: none;
    border: 1px solid black;
    font-size: .9em;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.form__group .group__text #group__select>select {
    -webkit-appearance: none;
}

#group__select {
    position: relative;
    width: 100%;
    height: 100%;
}

#group__select:before {
    content: "";
    position: absolute;
    top: 16px;
    right: 10px;
    border: 8px solid;
    border-color: black transparent transparent transparent;
    pointer-events: none;
}

.group__about {
    display: flex;
    flex-direction: column;
}

.about__radios {
    width: 100%;
    height: 230px;
}

.about__radios p {
    font-weight: bold;
}

label[for="termos"]>a {
    color: #00a1ff;
}

label[for="termos"],
#termos {
    font-size: .83em;
    margin-bottom: 10px;
}

.options__submit {
    width: 100%;
    padding: 8px 10px;
    font-size: 15px;
    border: 0;
    background: #00a1ff;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
}

.options__submit:hover {
    background: rgba(0, 162, 255, 0.856)
}


/* Três botões */
.section__radio {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.radio__group {
    list-style: none;
}

.radio__group li {
    display: inline-block;
    margin: 0px 10px;
}

.radio__input {
    cursor: pointer;
    appearance: none;
    width: 29px;
    height: 29px;
    border: 3px solid #00a1ff;
    border-radius: 50%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    outline: none;
}

.radio__input:before {
    content: '';
    width: 19px;
    height: 19px;
    background: #00a1ff;
    border-radius: 50%;
    opacity: 0;
    transition: all 600ms ease-in-out;
    position: absolute;
}

.radio__input:checked:before {
    opacity: 1;
}

.radio__input:focus {
    box-shadow: 0 0 5px #00a1ff;
}

.radio__span-one:before,
.radio__span-one:after {
    content: ' ';
    position: absolute;
    left: 37px;
    width: 17%;
    border-top: 5px solid #00a1ff;
    margin-top: -10.3%;
}

.radio__span-two:before,
.radio__span-two:after {
    content: ' ';
    position: absolute;
    left: 91px;
    width: 17%;
    border-top: 5px solid #00a1ff;
    margin-top: -10.3%;
}

input[type="radio"],
input[type="checkbox"] {
    accent-color: #0080C9;
}

/* Responvidade */
@media only screen and (max-width: 1700px) {
    .section__form {
        width: 80%;
    }
}

@media only screen and (max-width: 1530px) {
    label[for="termos"] {
        font-size: .86em;
        vertical-align: 1px
    }
}
@media only screen and (max-width: 1440px) {
    .section__form {
        width: 90%;
    }

    #cadastro__section div img {
        width: 300px;
    }
    .form__group{
        font-size: 14px;
    }
}

@media only screen and (max-width: 1110px) {
    .form__group {
        justify-content: space-evenly;
    }

    label[for="termos"] {
        font-size: .8em;
    }
}

@media only screen and (max-width: 1140px) {
    aside{
        display: none;
    }
    .section__form {
        width: 80%;
        margin-top: 5%;
    }

    #cadastro__section {
        flex-direction: column-reverse;
        margin-top: 2%;
    }

    .section__radio {
        top: 94.5%;
    }

    label[for="termos"] {
        font-size: .85em;
    }

    #cadastro {
        font-size: 0.88em;
    }
}

@media screen and (max-width:800px) {
    .section__form {
        width: 95%;
    }

    .form__group {
        justify-content: center;
    }

    .group__text {
        margin-right: 20px;
    }
}
@media screen and (max-width:670px){
    .form__group {
        flex-direction: column;
    }
    #cadastro__section div img {
        display: none;
    }
    .section__form {
        height: 85%;
    }
    .group__text,.group__about  {
        width: 90%;
    }
    .radio__span-two:before, .radio__span-two:after{
        width: 15%;
    }

}
@media screen and (max-width:670px){
    #cadastro {
        font-size: 0.75em;
    }
    .radio__span-two:before, .radio__span-two:after{
        width: 13%;
    }
    .about__radios {
        height: 155px;
    }
    .radio__input {
        width: 20px;
        height: 20px;
    }
    .radio__span-two:before, .radio__span-two:after,.radio__span-one:before, .radio__span-one:after{
        content: ' ';
        left: 30px;
        width: 17%;
        border: 1px solid #00a1ff;
        margin-top: -8.3%;
    }
    .radio__span-one:before, .radio__span-one:after{
        left: 73px;
    }

}




@media screen and (max-height:880px) {
    .section__form {
        height: max-content;
    }
    .section__radio{
        bottom: 0%;
    }
}



@media screen and (max-height:700px) {
    #cadastro__section{
        height: 97vh;
    }
}