/*Banner*/
.principal{
    background-image: url(../imgs/Rectangle\ 26.png);
    padding-top:10px ;
    width: 100%;
    height: 420px;
    background-repeat: no-repeat;
    background-size: cover; 
}
h1{
    padding: 0 10px;
}
.busca{
    background-color: #fff;
    text-align: center;
    border-radius: 20px 20px 0 0;
    padding-top:30px;
    width: 70vw;
    height: 200px;
    margin: 0 auto;
    margin-top: 250px;
}
.buscador{
    display:inline-flex;
    position: relative;
    flex-wrap: wrap;
    padding: 0 30px;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    background-color: none;
}
.search{
    background-color: #00a1ff;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.search img{
    margin-left: 1px;
    margin-top: 5px;
    width: 27px;
    height: 27px;
}
.buscador select{
    background-color: #fff;
    height: 40px;
    width:250px;
    padding-left: 5px;
    color: rgb(46, 46, 46);
    border: #000 solid 1px;
    border-radius: 3px;
    margin-right: 7px;
    margin-bottom: 5px;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 20vw;
}
/*cards*/
.card{
    display: block;
    margin:0 30px 30px 0;
    padding-bottom: 10px;
    width: 200px;
    border-radius: 7px;
    box-shadow:0px 5px 10px rgba(0, 0, 0, 0.226);
    transition: 0.7s;
}
a:hover .card{
    box-shadow:0px 3px 15px rgba(0, 0, 0, 0.550);
    transition: 0.7s;
}
a .card h2{
    text-decoration: none;
}
.card a:-webkit-any-link{
    color: #000;
    text-decoration: none;
}
.card h2{
    padding: 5px 0px 7px 0px;
    margin-left: 7px;
    font-size: 0.8rem;
    color: #000;
}
.img{
    border-radius: 7px 7px 0 0;
    width: 100%;
    padding: 20px 30px;
    display: flex;
}
.pa{
    background-color: orangered;
}
.ma{
    background-color: green;
}
.ci{
    background-color: rgb(65, 1, 1);
}
.ed{
    background-color: blue;
}
.sa{
    background-color: red;
}
.img img{
    margin: 0 auto;
}
.card .button{
    background-color: #fff;
    font-size: 0.6rem;
    border: rgb(86, 86, 86) 1px solid;
    padding: 2px 6px;
    border-radius: 2px;
    color: rgb(86, 86, 86);
    margin-left: 7px;
    transition: 0.7s;
}
.card .button:hover{
    background-color:rgb(86, 86, 86);
    color: #fff;
    cursor: pointer;
    transition: 0.7s;
}
/***********************************/
@media screen and (max-width:800px){
    /**********************/
    .principal{
        height: 500px;
    }
    h1{
        font-size: 1.2rem;
    }
    .busca{
        height: 250px;
    }
}
@media screen and (max-width:750px){
    .principal{
        height: 500px;
    }
}
@media screen and (max-width:530px){
    h1{
        font-size: 1rem;
    }
}